<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
  <script src="./scripts/scripts.js" defer></script>
  <title>Reprodutor</title>
</head>

<body>
  <div class="insertText">
    <h3>Comentário</h3>
    <form id="form-comment" method="POST" action="/">

      <input id="comentario" type="text" name="comment">
      <button type="submit" id="btnSubmit" form="form-comment">Cadastrar</button>


    </form>
  </div>

  <div class="textPlay">
    <h3>Comentários</h3>
    <div class="cards">

      <%data.forEach((item)=> {%>

        <div class="cardComment" data-id="<%= item.id %> ">
          <p class="insertedText">
            <%= item.comment %>
          </p>
          <button data-id="<%= item.id %> " onclick="alert('clicou no comentario')">Ouvir</button>
        </div>

        <%})%>



    </div>
  </div>

</body>

</html>